<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover, maximum-scale=5" />
    <title><%- title %></title>
    <meta name="description" content="<%- description %>">
    <meta name="theme-color" content="<%- themeColor %>" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="apple-mobile-web-app-title" content="<%- shortName %>" />

    <link rel="icon" type="image/png" href="/pwa-192x192.png" />
    <link rel="apple-touch-icon" href="/pwa-192x192.png" />

    <meta property="og:type" content="website" />
    <meta property="og:title" content="<%- title %>">
    <meta name="twitter:title" content="<%- title %>">
    <meta property="og:description" content="<%- description %>">
    <meta name="twitter:description" content="<%- description %>">
    <meta name="twitter:card" content="summary_large_image">
  </head>

  <body>
    <div id="root"></div>
    <script type="module" src="/src/main.tsx"></script>
  </body>
</html>
